services:
  etcd:
    build:
      context: .
      platforms:
        - linux/amd64
        - linux/arm64
    image: ${DOCKER_REGISTRY_URL}/${DOCKER_REGISTRY_ID}/${BUILD_NAME}:${BUILD_VERSION}
    container_name: ${BUILD_NAME}
    hostname: ${BUILD_NAME}
    ports: 
      - "2379:2379"
    volumes:
      - etcd-data:/home/user/data

volumes:
  etcd-data: 
