version: '3.8'

services:
  etcd:
    build:
      context: .
    image: ghcr.io/concepting-com-br/etcd:${BUILD_VERSION}
    container_name: etcd
    hostname: etcd
    ports: 
      - 2379:2379
    volumes:
      - etcd-data:/home/user/data

volumes:
  etcd-data: 